{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 2</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1b</h3>
			</div>
			<div class="col-6">
				<button id="stop" class="btn btn-light float-right">
					Stop
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<!-- Dynamically add your circles here! -->
					<!-- Example circle: <div class="p2-circle bg-blue"></div> -->
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">
	// your solution here

	// function change()
	// {
	// 	var change = document.getElementById("check");
	// 	if (change.value == "false")
	// 	{
	// 		document.test.savereport = "True";
	// 		document.test.submit();
	// 	}
	// 	else
	// 	{
	// 		change.value = "false";
	// 	}
	// }

	$ (document).ready(() => {

		$(function() {
			let stop_if_pressed = true;

			setInterval(function () {
				if (stop_if_pressed) {
					$(".shape-container").append($("<div class='p2-circle bg-purple'><\div>"));
				}
			}, 1000);


			$("#stop").on("click", () => {
				stop_if_pressed = false;
			});
		});

	});



</script>
</body>
</html>